tornado==4.4.2
mysqlclient==2.0.3 
progressbar2==3.53.1
raven==6.10.0 
datadog==0.41.0
bcrypt==3.2.0
Cython==0.29.30
requests==2.25.1
redis==2.10.5
dill==0.3.3
circleguard==5.3.0
prometheus_client==0.14.1
peace_performance-python==2.0.0
ossapi==2.3.0
osrparse==6.0.0
rosu-pp-py==0.9.1
matplotlib==3.3.4
circleparse==6.1.0